<header>
    <div class="container header-inner">
        <a href="{{ "/" | absURL }}" class="logo">
            {{ $logo := resources.Get "images/logo.svg" }}
            {{ if $logo }}
                <img src="{{ $logo.RelPermalink }}" alt="Open Traceability Logo">
            {{ end }}
            <span>OPEN TRACEABILITY</span>
        </a>

        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        <label for="nav-toggle" class="nav-toggle-label">
            <span></span>
        </label>

        <nav>
            <a href="{{ "/#about" | absURL }}">About</a>
            <a href="{{ "/definition" | absURL }}">Definition</a>
            <a href="{{ "/#framework" | absURL }}">Framework</a>
            <a href="{{ "/#use-cases" | absURL }}">Use Cases</a>
            <a href="{{ "/#roadmap" | absURL }}">Roadmap</a>
            <a href="https://github.com/protontypes/open-traceability" class="nav-github" aria-label="GitHub">
                <i class="fa-brands fa-github"></i>
            </a>
        </nav>
    </div>
</header>
